.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0 5%;
    padding: 1em 0;
    border-bottom: 1px solid #EEE; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
}

section {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

.circles {
    /*width, height, margin-top in "p" media queries, below*/
    margin-right: .5em;
    margin-left: .5em;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    background: #039BE5; /*light blue 600*/
}

/*ID's for loading circles*/
/*Shorthand: name, duration, timing-function, delay, iteration-count*/
#circle1 {
    animation: loadingCircle 1s ease-in-out 300ms infinite;
}

#circle2 {
    animation: loadingCircle 1s ease-in-out 600ms infinite;
}

#circle3 {
    animation: loadingCircle 1s ease-in-out 900ms infinite;
}

/*Animation for loading circles*/
@keyframes loadingCircle {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.6;
    }
}

canvas {
    width: 90%;
    margin: 0;
    padding: 1em 5% 2em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

footer {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

/*Fonts*/
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

/*Link and hover state*/
p a {
    color: #007AC1; /*light blue 500 dark*/
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media all and (min-width: 300px) {
    p {
        font-size: .875em;
    }

    h1 {
        font-size: 1.2em;
    }

    .circles {
        width: .875em;
        height: .875em;
        margin-top: .35em; /*p line-height is 1.575em*/
    }
}

@media all and (min-width: 400px) {
    p {
        font-size: .9375em;
    }

    h1 {
        font-size: 1.4em;
    }

    .circles {
        width: .9375em;
        height: .9375em;
        margin-top: .375em; /*p line-height is 1.6875em*/
    }
}

@media all and (min-width: 600px) {
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    .circles {
        width: 1em;
        height: 1em;
        margin-top: .4em; /*p line-height is 1.8em*/
    }
}

@media all and (min-width: 900px) {
    h1 {
        font-size: 1.8em;
    }
}