/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #f5fafb; /* N-98 */
    margin-top: 0;
}

/* Image becomes no larger than actual size. */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.pano {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.pano-img {
    width: 100vw;
    height: 100vh;
    background-image: url("/seascape-beach-resort-tony-webster.jpg");
    background-size: cover;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
}

.pano-headline {
    width: 90%;
    padding: 0 5%;
    position: absolute;
    top: 5vh;
    flex: initial;
    text-align: center;
    z-index: 1;
}

.pano-caption {
    width: 90%;
    padding: 0.5em 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #2b3133; /* N-20 */
    flex: initial;
}

.pano-caption a {
    color: #2b3133; /* N-20 */
    text-decoration: underline;
}

.pano-caption a:hover {
    text-decoration: underline;
}

section {
    width: 90%;
    margin: 1em 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (min-width: 300px) and (max-width: 599px) {
    .text {
        width: 100%;
        margin: 1em 0;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 100%;
        margin: 1em 0;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .text {
        width: 95%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 85%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .text {
        width: 85%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 75%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .text {
        width: 75%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 65%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    .text {
        width: 70%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 60%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .text {
        width: 64%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 54%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .text {
        width: 60%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 50%;
        margin: 1em 5%;
        padding: 0;
        flex: initial;
    }
}

@media (min-width: 1200px) {
    .text {
        width: 55%;
        margin: 1em 5%;
        padding: 0;
        flex: initial;
    }

    .map {
        width: 45%;
        margin: 1em 5%;
        padding: 0;
        flex: initial;
    }
}

.chart-container {
    width: 90%;
    margin: 0;
    padding: 2em 5%;
    background: #eff5f6; /* N-96 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.chart-container::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2) 0 calc((100vw - 100%) / -2);
    background: #eff5f6; /* N-96 */
    z-index: -1;
}

nav {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /* main axis */
    align-items: flex-start; /* cross axis */
}

button {
    /* width: 100px; */
    margin-right: 2.5%;
    padding: 0;
    background: transparent;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875em; /* 14px */
    line-height: 1.5;
    font-weight: 500;
    color: #37618e; /* P-40 */
}

button:last-child {
    margin-right: 0;
}

button:hover {
    cursor: pointer;
    text-decoration: none;
    color: #1c4975; /* P-30 */
}

.selected {
    border-bottom: 2px solid #37618e; /* P-40 */
}

.loading-container {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.chart {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.chart-desc {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

canvas {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Font styles and their media queries */
figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #2b3133; /* N-20 */
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125em; /* 18 px */
    line-height: 1.8;
    font-weight: 400;
    color: #171d1e; /* N-10 */
}

h1 {
    font-family: Georgia, serif;
    line-height: 1.8;
    font-weight: 600;
    font-style: italic;
    color: #fff; /* N-100 */
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 600;
    color: #171d1e; /* N-10 */
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    color: #171d1e; /* N-10 */
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    h3 {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    h1 {
        font-size: 1.375em; /* 22px */
    }

    h2 {
        font-size: 1.25em; /* 20px */
    }

    h3 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    h1 {
        font-size: 1.4375em; /* 23px */
    }

    h2 {
        font-size: 1.3125em; /* 21px */
    }

    h3 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.5em; /* 24px */
    }

    h2 {
        font-size: 1.375em; /* 22px */
    }

    h3 {
        font-size: 1.1875em; /* 19px */
    }
}